services:
  cassandra:
    build: cassandra
    container_name: librelog-cassandra
    ports:
      - "9042:9042"
    volumes:
      - cassandra-data:/var/lib/cassandra
    networks:
      - librelog-net
    healthcheck:
      test: ["CMD", "cqlsh", "-e", "SELECT now() FROM system.local"]
      interval: 30s
      retries: 3
      start_period: 10s
      timeout: 10s

  cassandra-integrity:
    image: cassandra:latest
    depends_on:
      cassandra:
        condition: service_healthy
    command: >
      bash -c "
        until cqlsh librelog-cassandra -e 'DESC KEYSPACES'; do
          echo 'Waiting for Cassandra...';
          sleep 5;
        done;
        cqlsh librelog-cassandra -f /docker-entrypoint-initdb.d/init.cql;
      "
    volumes:
      - ./cassandra/init.cql:/docker-entrypoint-initdb.d/init.cql
    networks:
      - librelog-net
    restart: "no"

  ingester:
    build: ingester
    container_name: librelog-ingester
    ports:
      - "9000:9000"
    environment:
      - CASSANDRA_CLUSTER=librelog-cassandra
    depends_on:
      cassandra-integrity:
        condition: service_completed_successfully
    networks:
      - librelog-net

  web:
    build: web
    container_name: librelog-web
    ports:
      - "8080:8080"
    environment:
      - CASSANDRA_CLUSTER=librelog-cassandra
      - PUBLIC_REGISTRATION=true
    depends_on:
      cassandra-integrity:
        condition: service_completed_successfully
    networks:
      - librelog-net

volumes:
  cassandra-data:

networks:
  librelog-net:
